
body {
    background-color: rgb(169, 192, 139);

}

.menu{
    background-color: rgb(236, 193, 112);
    width: 100%;
    height: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;     
    }

a {
    text-decoration: none;
    padding: 15px;
    font-size: 25px;  
    }

#logo{
    display: flex;
    justify-content: left;
    }

#home{
    background-color: rgb(216, 236, 190);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;        
    }

h{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-size: 20px;
    
    }
h3{
    font-size: 18px;
    font-weight: 400;
    }

h4{
    font-size: 16px;
    font-weight: 400;
    }

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 236, 190);
    margin: 30px;
    padding: 15px;
    text-align: center;
}
.card{
    background-color: rgb(129, 158, 91);
    width: 450px;
    height: 450px;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card img {
    width: 250px;
}

.card button {
    background-color: beige;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    transition: 1s; 
}


footer{
    background-color: rgb(236, 193, 112);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}


@media (max-width: 1000px) {
    header{
        .menu {
            width: 100%;
            height: 150px;
            text-align: center;
            }

        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            padding: 10px;
            font-size: 18px; 
            }

            }
  
    main{

        section{
                display: flex;
                align-items: center;
                flex-direction: column;
                }
    }

    .card{
        width: 300px;
        height: 300px;
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .card img {
         width: 170px;
    }

   #home{
        background-color: rgb(216, 236, 190);
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 16px;
 
}
    h2{
        font-size: 18px;
    }

    h3{
         font-size: 16px;
    }

    h4{
        font-size: 14px;
    }